@model Licenta2022.Models.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Factura pentru @ViewBag.NumePacient</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var serviciu in ViewBag.Servicii)
        {
            <dt style="width:50rem; padding-right:2rem">
                @serviciu.nume
            </dt>

            <dd>
                @serviciu.pret
            </dd>
        }



        <dt style="width:50rem; padding-right:2rem">
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>

