@model Licenta2022.Models.Abonament

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Abonament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            Servicii
        </dt>
        <dd>
            @foreach( var serv in Model.ServiciuXAbonamente)
            {
               @serv.IdServiciu
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
