@model Licenta2022.Models.Clinica

@{
    ViewBag.Title = "Clinica " + Model.Nume;
}


<div>
    <h2>Detalii</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa.Strada)
            @Model.Adresa.Numar,
            @Model.Adresa.Localitate.Nume
        </dd>

        <dt>
            <label>Doctori</label>
        </dt>
        <dd>
            @foreach(var doc in ViewBag.Doctori)
            {
                @doc
                <br />

            }
        </dd>
    </dl>
</div>


    <div class="btn-group">
        <button>
            <a href="/Clinica/Edit/@Model.Id">Editare</a>
        </button>
    </div>
