@model Licenta2022.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAngajarii)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAngajarii)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialitate.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinica.Nume)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
