@model Licenta2022.Models.DoctorProgramForm

@{
    ViewBag.Title = "Program";
}

<h2>Program</h2>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Doctor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.IdDoctor)

        <div class="form-group">
            @Html.LabelFor(model => model.Config, htmlAttributes: new { @class = "control-label col-md-2" })
            @for (int i = 0; i < 96; i++)
            {
                <input name="Config[]"
                       checked />
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@


@Html.React("Components.DoctorProgramTemplateCreateComponent", new
{
    templates = ViewBag.Templates,
    doctorId = Model.IdDoctor
})

<div>
    @Html.ActionLink("Back to List", "Index")
</div>