@model Licenta2022.Models.Asigurare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asigurare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdServicii)
        </dt>

        <dd>
            @foreach( var serv in Model.ServiciuXAsigurari)
            {
                @serv.Serviciu.Denumire
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
