@model Licenta2022.Models.Adresa

@{
    ViewBag.Title = "Adresa";
}

<h2>Adresa</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Strada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localitate.Nume)
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.IsAdmin) {     
        <div class="btn-group">
            <button><a href="/Adresa/Edit/@Model.Id">Editeaza</a></button>
        </div>
    }

</p>
