@model Licenta2022.Models.Adresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*@Html.React("Test", new { strada = @Json.Encode(Model.Localitate) })*@

<div>
    <h4>Adresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Strada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localitate.Nume)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
