@model IEnumerable<Licenta2022.Models.Adresa>

@{
    ViewBag.Title = "Adrese";
}

<h2>Adrese</h2>

@if (ViewBag.IsAdmin)
{
    <div class="btn-group">
        <button><a href="/Adresa/Create">Creează</a></button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Strada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localitate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Strada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localitate.Nume)
            </td>
            <td>
                <div class="btn-group">
                    <button><a href="/Adresa/Details/@item.Id">Detalii</a></button>
                </div>
            </td>
        </tr>
    }

</table>
