@model Licenta2022.Models.Medicament

@{
    ViewBag.Title = "Delete";
}

<h2>Șterge</h2>

<h3>Ești sigur că vrei să ștergi asta?</h3>
<div>
    <h4>Medicament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observatii)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observatii)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
