@model Licenta2022.Models.Serviciu

@{
    ViewBag.Title = "Details";
}

<h2>Serviciu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specializare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specializare.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pret)
        </dd>

    </dl>
</div>

@if (ViewBag.IsAdmin)
{
    <div class="btn-group">
        <button>
            <a href="/Serviciu/Edit/@Model.Id">Editare</a>
        </button>
    </div>

}