@model IEnumerable<Licenta2022.Models.Serviciu>

@{
    ViewBag.Title = "Servicii";
}

<h2>Servicii</h2>

@if (ViewBag.IsAdmin)
{
    <div class="btn-group">
        <button><a href="/Serviciu/Create">Creează</a></button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specializare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pret)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @item.Specializare.Denumire
            </td>
            <td>
                @item.Pret
            </td>
            <td>
                <div class="btn-group">
                    <button><a href="/Serviciu/Details/@item.Id">Detalii</a></button>
                </div>
            </td>
        </tr>
    }

</table>
