@model Licenta2022.Models.Programare

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Doriți să ștergeți programarea?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>

        <dd>
            @Model.Doctor.Nume + 
            @Model.Doctor.Prenume
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Șterge" class="btn btn-default" />
        </div>
    }
</div>
