@model Licenta2022.Models.Pacient

@{
    ViewBag.Title = "Details";
}

<div style="display: flex; justify-content: space-around; margin-top: 2rem;">
    <dl class="dl-horizontal">
        <dt class="bigger-text">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd class="bigger-text">
            @Html.DisplayFor(model => model.Nume)
        </dd>

        <dt class="bigger-text">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>

        <dd class="bigger-text">
            @Html.DisplayFor(model => model.Prenume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa.Localitate.Nume), @Html.DisplayFor(model => model.Adresa.Strada)
            @Html.DisplayFor(model => model.Adresa.Numar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abonament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abonament.Denumire)
        </dd>
    </dl>


    <div class="btn-group">
        <button>
            <a href="/Programare/Create/@Model.Id">Creează o programare</a>
        </button>
        <button><a href="/Programare/Index/@Model.Id">Vezi programari</a></button>
        <button><a href="/Trimitere/Index/@Model.Id">Vezi trimiteri</a></button>
        <button><a href="/Factura/Index/@Model.Id">Vezi facturi</a></button>
        <button><a href="/Reteta/Index/@Model.Id">Vezi retete</a></button>
        <button><a href="/Pacient/IstoricDiagnostic/@Model.Id">Vezi istoric diagnostice</a></button>
    </div>
</div>
@*
    @Html.ActionLink("Vezi programari", "Index", new { id = Model.Id })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") *@
