@model IEnumerable<Licenta2022.Models.Reteta>

@{
    ViewBag.Title = "Index";
}

<h2>Rețete</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataEmiterii)
        </th>
        <th>
            <strong>Pacient</strong>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmiterii)
            </td>
            <td>
                @(item.Programare.Pacient.Nume + " " + item.Programare.Pacient.Prenume)
                @*@foreach (var med in item.RetetaXMedicament)
                {
                    @med.Medicament.Denumire
                    @med.Doza
                    <br />
                }*@
            </td>
            <td>
                <div class="btn-group">
                    <button><a href="/Reteta/Details/@item.Id">Detalii</a></button>
                </div>
            </td>
        </tr>
    }

</table>
